*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI, Roboto,Helvetica,Arial,sans-serif;
}

/* header starts  */

header{
  display: flex;
  background-color: #fff;
  /* background-color: peachpuff; */
  height: 80px;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #b6b1b1; */
  box-shadow: 0px 1px 10px #b6b1b1;
  /* margin-bottom: 10px; */
}

.myntra_home{
  height: 45px;
  /* width: 53px; */
}

.logo_container{
  margin-left: 4%;
}

.nav_bar{
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

.nav_bar a{
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  box-sizing: content-box;
  border-bottom: 4px solid #ffffff;
}

.nav_bar a:hover{
  border-bottom: 5px solid #f54e77;
}

.nav_bar a sup{
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar{
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon{
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.search_input{
  background-color: #f5f5f6;
  color: #696e79;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar{
  /* border: 2px solid black; */
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_bar{
  margin-right: 4%;
}

.action_container{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.action_container:hover{
  color: black;
}

.bag-item-count{
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}

/* header ends  */


/* section starts */

h1{
  text-align: center;
}

/* section ends */


/* footer starts */

footer{
  background: #e3e4e4;
}

.footer_container{
  padding: 30px 0px 40px 0px;
  /* background: #FAFBFC; */
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-evenly;
}

.footer_column{
  display: flex;
  flex-direction: column;
}

.footer_column h3{
  /* border: 1px solid red; */
  color: #282c3f;
  /* color: #FF8F2C; */
  font-size: 17px;
  margin-bottom: 25px;
}

.footer_column a{
  color: #696b79;
  /* color: #F230B2; */
  /* display: block; */
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  font-weight: 500;
}

.footer_column a:hover{
  color: black;
}

.copyright{
  color: #94969f;
  text-align: center;
  padding: 15px;
}

/* footer ends */